<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <!-- <link href="style.css" rel="stylesheet" type="text/css">
        <script src="script.js" type="text/javascript"> -->
    </script>
</head>

<body>
    <h2>小练习</h2>
    <ul>
        <li><a href="/pre_online/fePractice/extendCard">Extend Card</a></li>
    </ul>
    <!-- <script src='https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js'></script>
        <script src='https://unpkg.com/axios/dist/axios.min.js'></script> -->
    <script>
    </script>
</body>

</html>